@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model StudentInformationSystem.Utilities.Dto.AcademicDetailsDto
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">AcademicDetail</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index","DashBoard")">DashBoard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index","AcademicDetails")">Academic-Detail</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="table-responsive">
            <div class="col-12">
                <div class="card">
                    <div class="row mt-5 mb-1">
                       
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="row">
                                        @foreach (var item in Model.SummaryAcademicDetailDto)
                                        {
                                            <div class="col-sm-6" onclick="LoadSemesterDetait(@item.Semester)">
                                                <div class="m-auto p-auto d-flex justify-content-center" style="width:90%;height:60px;background-color:#34c230">
                                                    <span style="padding: 7px 12px;border-radius: 20px;border: 1px solid #248721;background-color:#248721;margin: 10px;">
                                                        <i data-feather='grid'></i>
                                                    </span>
                                                </div>
                                                <div style="width:90%" class="m-auto">
                                                    <h6 class="mt-2 mb-2" style="text-align:center;color:red"> @item.Year / @item.Semester</h6>
                                                    <div class="mt-2 mb-2 p-auto d-flex justify-content-center">
                                                        <span class="m-auto" style="padding: 1px 17px;border-radius: 20px;text-align:center;color:black;border-radius: 3px ;background-color:	#f9f1f1">Cummulative GPA: @item.CumulativeGPA  56.2 Semester GPA :@item.SemesterGPA</span>

                                                    </div>
                                                    <p class="mt-1 mb-1" style="text-align:end;color:black">Number Of semester hours : @item.NumberOfSemesterHours</p>
                                                    <p class="mt-1 mb-4" style="text-align:end;color:black">Total hours studied by the Student @item.TotalHoursStuiedByStudent</p>

                                                </div>
                                            </div>
                                        }
                                       
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row" style="margin-right:10px">
                                        <div class="col-sm-6" style="background-color:orange">
                                            <div class="m-auto p-auto d-flex justify-content-center" style="width:90%;height:90px;background-color:orange">
                                                <span style="padding: 25px 25px 19px;border-radius: 40px;border: 1px solid white;background-color:white;margin: 10px;">
                                                   @Model.TotalCumulativeHours
                                                </span>

                                            </div>
                                            <p class="mt-3 mb-3" style="text-align:center;color:black">Total Cummulative Hours</p>
                                        </div>
                                        <div class="col-sm-6" style="background-color:orange">
                                            <div class="m-auto p-auto d-flex justify-content-center" style="width:90%;height:90px;background-color:orange">
                                                <span style="padding: 25px 25px 19px;border-radius: 40px;border: 1px solid white;background-color:white;margin: 10px;">
                                                    @Model.CumulativeAverage
                                                </span>

                                            </div>
                                            <p class="mt-3 mb-3" style="background-color:orange;text-align:center;color:black"> Cummulative Average</p>

                                        </div>
                                        <div class="col-sm-6" style="background-color:orange">
                                            <div class="m-auto p-auto d-flex justify-content-center" style="width:90%;height:90px;background-color:orange">
                                                <span style="padding: 25px 25px 19px;border-radius: 40px;border: 1px solid white;background-color:white;margin: 10px;">
                                                    @Model.TotalNumberOfHoursPassedByTheStudent
                                                </span>

                                            </div>
                                            <p class="mt-3 mb-3" style="background-color:orange;text-align:center;color:black"> The total number of hours passed by the student</p>
                                        </div>
                                        <div class="col-sm-6" style="background-color:orange">
                                            <div class="m-auto p-auto d-flex justify-content-center" style="width:90%;height:90px;background-color:orange">
                                                <span style="padding: 25px 25px 19px;border-radius: 40px;border: 1px solid white;background-color:white;margin: 10px;">
                                                    @Model.TotalCumulativeMarks
                                                </span>

                                            </div>
                                            <p class="mt-3 mb-3" style="background-color:orange;text-align:center;color:black"> Total Cummulative Marks</p>
                                        </div>
                                        @{
                                            // Find the last semester's GPA
                                            var lastSemesterGPA = Model.SummaryAcademicDetailDto
                                            .OrderByDescending(x => int.Parse(x.Year)) // Order by year descending
                                            .ThenByDescending(x => x.Semester) // Order by semester descending
                                            .FirstOrDefault()?.SemesterGPA ?? 0; // Get the GPA of the latest semester or 0 if none
                                        }

                                        @if (lastSemesterGPA > 84)
                                        {
                                            <div class="col-sm-12" style="background-color:orange">
                                                <div class="m-auto p-auto d-flex justify-content-center" style="width:90%;height:90px;background-color:orange">
                                                    <span style="padding: 25px 25px 19px;border-radius: 40px;border: 1px solid white;background-color:white;margin: 10px;">
                                                        <i data-feather='check'></i>
                                                    </span>

                                                </div>
                                                <p class="mt-3 mb-3" style="background-color:orange;text-align:center;color:black"> Placement on the honor list</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-12" style="background-color:orange">
                                                <div class="m-auto p-auto d-flex justify-content-center" style="width:90%;height:90px;background-color:orange">
                                                    <span style="padding: 25px 25px 19px;border-radius: 40px;border: 1px solid white;background-color:white;margin: 10px;">

                                                    </span>

                                                </div>
                                                <p class="mt-3 mb-3" style="background-color:orange;text-align:center;color:black"> Placement on the honor list</p>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var item2 in Model.CourseAcademicDetailsDto)
{
    <div class="modal fade text-left" id="@item2.Semester" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel17">Large Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-nowrap">The Year</th>
                                    <th scope="col" class="text-nowrap">Semester</th>
                                    <th scope="col" class="text-nowrap">Course Character</th>
                                    <th scope="col" class="text-nowrap">Course Number </th>
                                    <th scope="col" class="text-nowrap">Course Name</th>
                                    <th scope="col" class="text-nowrap">Number Of Hours </th>
                                    <th scope="col" class="text-nowrap">Marks </th>
                                    <th scope="col" class="text-nowrap">Marks Status </th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CourseAcademicDetailsDto)
                                {
                                    if (item2.Semester == item.Semester)
                                    {
                                        
                                            <tr>
                                                <td class="text-nowrap">@item.Year</td>
                                                <td class="text-nowrap">@item.Semester</td>
                                                <td class="text-nowrap">@item.CourseCharacters</td>
                                                <td class="text-nowrap">@item.CourseNumber</td>
                                                <td class="text-nowrap">@item.CourseName</td>
                                                <td class="text-nowrap">@item.NumberOfHours</td>
                                                <td class="text-nowrap">@item.Marks</td>
                                                <td class="text-nowrap">@item.MarksStatus</td>

                                            </tr>

                                        
                                    }
                                    
                                }
                                



                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Accept</button>
                </div>
            </div>
        </div>
    </div>

}
@section scripts {
    <script>
        function LoadSemesterDetait(index) {
            
            if (index != null && index != 0 && index !='') {
                $('#' + index).modal('show');
            }
        }
        

    </script>
}

